{
    "presets": [
        [
            "es2015",
            {
                "useBuiltIns": "entry",
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        "transform-es2015-arrow-functions",
        "transform-runtime"
    ]
}